html
        {
            overflow-x: unset !important;
        }

        small
      {
        font-family: verdana;
        font-size: 15px;
        color: #0972b8;
        text-align: left !important;
        float: left !important;
      }