table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

  .vl {
    border-left: 3px solid #051230;
    height: 40px;
  }
  html
        {
            overflow-x: unset !important;
        }